body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.seatBtn {
  padding: 4px;
  font-size: 12px;
  margin: 5px;
  height: 32px;
  width: 35px;
}

.seatNotAllowed {
  background-color: red;
  color: white;
  pointer-events: none;
}

.seatChosen {
  background-color: yellow;
  color: black;
  pointer-events: none;
}

.seatNotAvailable {
  background-color: #efefef;
  color: white;
  pointer-events: none;
}

.seatBtnt:hover {
  background-color: blue;
  color: white;
}

.seatsHorRow {
  width: 90%;
}

.ailse-left {
  margin-right: 13px;
}

.ailse-left-big {
  margin-right: 17%;
}

.ailse-right {
  margin-left: 13%;
}

.ailse-right-big {
  margin-left: 17%;
}

.row-number {
  font-size: 122x;
}
